#!/usr/bin/env bash
if has devenv; then
	export DIRENV_WARN_TIMEOUT=20s
	eval "$(devenv direnvrc)"
	use devenv
fi

export CLOUDFLARE_ACCOUNT_ID="340c8fced324c509d19e79ada8f049db"
export CLOUDFLARE_API_TOKEN="op://Private/Cloudflare/api-tokens/rawkode.dev"
